<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="background">
    <div class="container_home">
        <div class="elements">
        <h1 class="center">Home</h1>
            <p th:each="role : ${roles}" th:text="${role}">Nome da Autoridade</p>
            <p>Bem-vindo <span th:text="${nome}">Nome do Usuário</span></p>
            <p>Você está logado</p>
            <form action="/logout" method="post" class="center">
                <button type="submit">Sair</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
